<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Iota was a passion project of founder and fashion enthusiast Dylan Shea. California raised and Chicago based, Dylan had troubles finding the best possible vintage clothing for a reasonable price. Thus Iota was born, as Dylan sourced vintage clothing from sources never before tapped into. With this new market of quality pieces in Iota's hand, Dylan's main goal was to get these in the hands of other fashion heads in his spot for the best possible price. In the 5 years since Iota has been founded, hundreds of pieces have been aquired by happy customers worldwide.</h1>
  </body>
</html>
