<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>To contact the Iota team for any reason, please email our support at <strong>help@iota.com</strong>.</h1>
  </body>
</html>
