<div id="footer" style="background-color:lightgray;">
    <h5>&copy; 2024 Iota - All Rights Reserved </h5>
    <small>
        <a href="/privacy">Privacy Policy</a>
        <a href="/help">Help / FAQs</a>
    </small>
    </div>
    