<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <section id="faq">
    <h2>Frequently Asked Questions (FAQs)</h2>
    <div class="faq-container">
        <h2>Frequently Asked Questions (FAQs)</h2>
        <ul>
            <li>
            <details>
                <summary><strong>How do I place an order?</strong></summary>
                <p>To place an order, browse our products, add items to your cart, and proceed to checkout.</p>
            </details>
            </li>
            <li>
            <details>
                <summary><strong>What payment methods do you accept?</strong></summary>
                <p>We accept credit cards, debit cards, and PayPal.</p>
            </details>
            </li>
            <li>
            <details>
                <summary><strong>How can I track my order?</strong></summary>
                <p>You can track your order by logging into your account and viewing your order history.</p>
            </details>
            </li>
            <li>
            <details>
                <summary><strong>What is your return policy?</strong></summary>
                <p>We accept returns within 7 days of purchase if the item was damaged in transit or was mislabeled or sized. If items are not faulty, we do not accept returns.</p>
            </details>
            </li>
            </ul>
        </div>
        </section>
    <script src="/javascripts/help.js"></script>
    </body>
</html>
