<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a> 
    </p>
    <p>Iota is the premier hub for affordable vintage clothing. We source the best possible garments for you to add to your collection of fashionable pieces. All styles, all quality, all afforable.</p>
  </body>
</html>
