<h1> New Record</h1>
<form action="/category" method="post">
<table>
    <tr> <td> Category ID: </td> <td> <input type="text" name="category_id" required> </td> </tr>
    <tr> <td> Category Name: </td> <td> <input type="text" name="category_name" required> </td> </tr>
</form>
</table>

<button type="submit">Save</button>