<h1> New Record</h1>
<form action="/promotion" method="post">
<table>

    <tr> <td> Promotion Name: </td> <td> <input type="text" name="promo_title" required> </td> </tr>
    <tr> <td> Promotion Image: </td> <td> <input type="text" name="promo_image" required> </td> </tr>
    <tr> <td> Description: </td> <td> <input type="text" name="description" required> </td> </tr>
    <tr> <td> Start Date: </td> <td> <input type="date" name="start_date" required> </td> </tr>
    <tr> <td> End Date: </td> <td> <input type="date" name="end_date" required> </td> </tr>
    <tr> <td> Discount Rate: </td> <td> <input type="text" name="discount_rate" required> </td> </tr>
    
</form>
</table>

<button type="submit">Save</button>