<h1> New Record</h1>
<form action="/order_detail" method="post">
<table>
    <tr> <td> Customer ID: </td> <td> <input type="text" name="user_id" required> </td> </tr>
    <tr> <td> Order Date: </td> <td> <input type="date" name="order_date"> </td> </tr>
    <tr> <td> Total Amount: </td> <td> <input type="text" name="total_amount" required> </td> </tr>
    <tr> <td> Order Status: </td> <td> <input type="text" name="order_status" required> </td> </tr>
</form>
</table>

<button type="submit">Save</button>