<h1> New Record</h1>
<form action="/brand" method="post">
<table>
    <tr> <td> Brand ID: </td> <td> <input type="text" name="brand_id" required> </td> </tr>
    <tr> <td> Brand Name: </td> <td> <input type="text" name="brand_name" required> </td> </tr>
</form>
</table>

<button type="submit">Save</button>