<h1> New Record</h1>
<form action="/brand" method="post">
<table>
    <tr> <td> Brand Name: </td> <td> <input type="text" name="brand_name" required> </td> </tr>
</table>
<button type="submit">Save</button>
</form>