<h1> Edit Product</h1>
<form action="/brand/save" method="post">
    <input type="hidden" name="id" value="<%= onerec.id %>" >
<table>

<tr> <td> Brand Name </td> <td> <input type="text" value="<%= onerec.brand_name %>" name="brand_name"> </td> </tr>
</table>

<button type="submit">Save</button>
</form>
